build:
  type: text
  content: |-
    #!/bin/sh
    kkk
    # make allfn dsma
    # docker buildlpjnm,jkgyhj
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: ballot
  title: Priyanshii677/ballot
  owner: Priyanshii677
  default_branch: main
  id: 535969682
TF_Branch: main
TF_Git_path: /
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
app_dependencies:
  type: text
  content: ' bnm'
app_deploy:
  type: text
  content: |
    b n
    HELM_OPTS=""
    helm upgrade ps-1-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-10-11T04:11:16.047Z
