app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

build:
  type: text
  content: check ballot 55555 build
deploy:
  type: text
  content: |+
    check ballot 55555 deploy

    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test:
  - name: check http 55555
    configType: custom
    customType: commands
    url: ''
    requestType: GET
    header: jndkml
    body: ''
    status: jk3l
    response: ''
  - name: check ballot 55555 test
    configType: artillery
    configPath: Priyanshii677/ballot/
uninstall:
  type: text
  content: |
    check ballot 55555 uninstall
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-10-04T03:39:57.632Z
