build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    HELM_OPTS=""
    helm upgrade check-2-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml

    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml

    kubectl apply -n $ROOST_NAMESPACE -f ballot/ingress.yaml

    kubectl apply -n $ROOST_NAMESPACE -f ballot/test/test.yaml

    HELM_OPTS=""
    helm upgrade check-2-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2023-01-24T06:36:02.050Z
