build:
  type: text
  content: check ballot 55555 build
deploy:
  type: text
  content: |+
    check ballot 55555 deploy

    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test:
  - name: check http 55555
    configType: custom
    customType: commands
    url: urlkmeld,sa
    requestType: GET
    header: jndkml
    body: ''
    status: jk3l
    response: ''
  - name: check ballot 55555 test
    configType: artillery
    configPath: Priyanshii677/ballot/
uninstall:
  type: text
  content: |
    check ballot 55555 uninstall
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-10-03T05:27:47.911Z
